
[Tenable IO settings]
#tio_access_key = {your tenable.io access key, it's probably better to set the TIO_ACCESS_KEY environment variable}
#tio_secret = {your tenable.io secret, it's probably better to set the TIO_SECRET_KEY environment variable}

#output_file_directory = {will default to current working directory}
output_file_name = vulnerabilities.csv



[Vulnerability export settings]
# Configuration options for temporary files from vulnerability export
#temp_file_dir = {will default to current working directory}
# if the filename contains %(chunk_id)s is will put the chunk index in that
# location, otherwise it will add it to the end of the file name
temp_file_name = vulns_%(chunk_id)s.json

# Would you like to keep the vulnerability export file(s) around after the
# script runs (useful for debugging or archiving)
keep_temp_files = True

# What vulnerability states would you like to download
#   options are  [OPEN, REOPENED, FIXED]
vuln_state = [OPEN,REOPENED]

# What vulnerability severities would you like exported
#   options are  [info, low, medium, high, critical]
vuln_severity = [high,critical]

[CSV File]
# would you like column headers in the output CSV file ? options True, False
csv_header_row = True

# String value used to replace null values in the CSV output file
#   (eg NULL will put the string 'NULL' into the output CSV file)
csv_null_value = NULL

# specify the columns and column order of the output csv file
# available columns available are
#       'asset.agent_uuid', 'asset.bios_uuid', 'asset.device_type',
#       'asset.fqdn', 'asset.hostname', 'asset.ipv4',
#       'asset.last_authenticated_results', 'asset.operating_system',
#       'asset.tracked', 'asset.uuid', 'first_found', 'last_found', 'output',
#       'plugin.bid', 'plugin.canvas_package', 'plugin.cpe', 'plugin.cve',
#       'plugin.cvss3_base_score', 'plugin.cvss3_temporal_score',
#       'plugin.cvss3_temporal_vector.exploitability',
#       'plugin.cvss3_temporal_vector.raw',
#       'plugin.cvss3_temporal_vector.remediation_level',
#       'plugin.cvss3_temporal_vector.report_confidence',
#       'plugin.cvss3_vector.access_complexity',
#       'plugin.cvss3_vector.access_vector',
#       'plugin.cvss3_vector.availability_impact',
#       'plugin.cvss3_vector.confidentiality_impact',
#       'plugin.cvss3_vector.integrity_impact', 'plugin.cvss3_vector.raw',
#       'plugin.cvss_base_score', 'plugin.cvss_temporal_score',
#       'plugin.cvss_temporal_vector.exploitability',
#       'plugin.cvss_temporal_vector.raw',
#       'plugin.cvss_temporal_vector.remediation_level',
#       'plugin.cvss_temporal_vector.report_confidence',
#       'plugin.cvss_vector.access_complexity',
#       'plugin.cvss_vector.access_vector', 'plugin.cvss_vector.authentication',
#       'plugin.cvss_vector.availability_impact',
#       'plugin.cvss_vector.confidentiality_impact',
#       'plugin.cvss_vector.integrity_impact', 'plugin.cvss_vector.raw',
#       'plugin.description', 'plugin.exploit_available',
#       'plugin.exploit_framework_canvas', 'plugin.exploit_framework_core',
#       'plugin.exploit_framework_metasploit', 'plugin.exploitability_ease',
#       'plugin.exploited_by_malware', 'plugin.family', 'plugin.family_id',
#       'plugin.has_patch', 'plugin.id', 'plugin.in_the_news',
#       'plugin.metasploit_name', 'plugin.modification_date',
#       'plugin.ms_bulletin', 'plugin.name', 'plugin.patch_publication_date',
#       'plugin.publication_date', 'plugin.risk_factor', 'plugin.see_also',
#       'plugin.solution', 'plugin.stig_severity', 'plugin.synopsis',
#       'plugin.type', 'plugin.unsupported_by_vendor', 'plugin.version',
#       'plugin.vuln_publication_date', 'plugin.xrefs', 'port.port',
#       'port.protocol', 'port.service', 'scan.completed_at',
#       'scan.schedule_uuid', 'scan.started_at', 'scan.uuid', 'severity',
#       'severity_default_id', 'severity_id', 'severity_modification_type',
#       'state'
csv_columns = [plugin.name,asset.ipv4,port.port,port.protocol,output,last_found,plugin.cvss_base_score,severity,plugin.id,plugin.solution,first_found,asset.uuid,plugin.exploit_available,plugin.cve]

# Provide alternative column names for the CSV file
#   will use default column names (above) if this isn't defined
csv_column_names = [Plugin Name,IPv4 Address,Port,Protocol,Plugin Output,Last Seen Date,CVSS Score,Severity,Plugin ID,Plugin Solution,First Discovered Date,Asset UUID,Exploit Available,CVEs]

